<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-square"></i> Rectangle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-circle"></i> Circle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-arrow-right"></i> Arrow</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-type"></i> Text</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-eraser"></i> Erase</a>
    </li>
</ul>